<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles1.css">
    <meta charset="UTF-8">
    <title>404 Error</title>
</head>
<body>
<div class="container">
    <header>
        <h1 class="neon-title">OH No.....</h1>
        <p class="tagline">The page you're looking for doesn't exist.</p>
    </header>

    <div class="card">
        <p class="intro">It seems like you have stumbled upon a lost terminal. Let's get you back on track.</p>

        <div class="links-column">
            <a href="/register" class="neon-button">Register</a>
            <a href="/login" class="neon-button">Login</a>
            <a href="/" class="neon-button">Go to Homepage</a>
        </div>
    </div>

    <footer>
        <p class="footer-text">Error 404 - </p>
    </footer>
</div>
</body>
</html>
